.planet {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  align: center;
  color: white;
  font-size: 8px;
  line-height: 30px;
  text-align: center;
}
.population-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 7;
  align: center;
  color: white;
  font-size: 8px;
  line-height: 30px;
}
.planet.orange {
  background-color: #F26140;
}
.planet.blue {
  background-color: #4391F7;
}
.planet.grey {
  background-color: #A2A2A2;
}

@keyframes enterChaos {
  from {background-color: red;
        opacity: 1;}
  to {opacity: 0;}
}
@-webkit-keyframes enterChaos {
  from {background-color: red;
        opacity: 1;}
  to {opacity: 0;}
}
@-o-keyframes enterChaos {
  from {background-color: red;
        opacity: 1;}
  to {opacity: 0;}
}
@-moz-keyframes enterChaos {
  from {background-color: red;
        opacity: 1;}
  to {opacity: 0;}
}
.chaos::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  border: 2px solid red;
  z-index:9;

  -webkit-animation: enterChaos 1s;
  -moz-animation: enterChaos 1s;
  -o-animation: enterChaos 1s;
  animation: enterChaos 1s;
}
.selected::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  border: 2px solid white;
  z-index:8;
}
.selected.chaos::after {
  border: 2px dashed white;
  z-index:8;
}
