#topmenu {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  width: calc(100% - 10px);

  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
#viewport {
  position: absolute;
  left: 0;
  top: 25px;
  height: calc(100% - 25px);
  width: 100%;
}
#messagemenu {
  overflow: hidden;
  z-index: 2;
}
#messagemenu, #messagemenu a {
  color: white;
  font-weight: bold;
}
#welcome {
  font-size: 25px;
}
#message {
  font-size: 16px;
}
#pause-button {
  float:left;
  color: white;
  padding: 4px;
  border: 2px solid white;
  cursor: pointer;
  width:22px;
  text-align:center;
  margin-right: 10px;
}
#feedback-button {
  float: right;
  color: white;
  padding: 4px;
  border: 2px solid white;
  cursor: pointer;
}
